<doctype html>
<title>Add User - Python Flask MySQL CRUD</title>
<h2>Add User</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputBuilding" value="" type="text" placeholder="Building" autocomplete="off" required>
		</p>
		<p>
			<input name="inputFloorNum" value="" type="text" placeholder="Email" autocomplete="off" required>
		</p>
		<p>
			<input name="inputStatus" value="" type="text" placeholder="Status" autocomplete="off" required>
		</p>
		<p>
			<input name="inputID" value="" type="text" placeholder="Fountain ID" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>